* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: grey;
}

.container {
    background-color: white;
    width: 940px;
    margin: auto;
}

.l {
    float: left;
}

.r {
    float: right;
}

.clear {
    clear: both;
}

.text-end {
    text-align: right;
    padding: 20px 20px 0 0;
}

header {
    border-bottom: 10px solid rgb(200, 200, 213);
}

.content {
    padding: 20px;
}

.left {
    width: 70%;
    border-right: 1px dotted rgb(114, 108, 108);
    padding-right: 30px;
}

.right {
    width: 25%;
}

footer {
    background-color: rgba(6, 79, 147, 0.633);
    padding: 10px;
    color: #fff;
}

nav ul {
    padding-top: 13px;
}

nav li {
    display: inline;
}

nav a {
    background-color: blue;
    color: #fff;
    padding: 5px 10px;
}

.form input,
.form textarea {
    width: 450px;
    height: 45px;
    border: 1px solid black;
    margin: 20px 0;
    padding-left: 20px;
}